@import "tailwindcss";

body {
  margin: 0;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
}

/* Hide scrollbar for horizontal overflow containers */
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
